<configuration>

    <property name="logDir" value="log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/application.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ACCESS" class="ch.qos.logback.core.FileAppender">
        <file>${logDir}/access.log</file>

        <encoder>
            <pattern>%date %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="ACCESS_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="ACCESS" />
    </appender>

    <logger name="access" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_ASYNC"/>
    </logger>

    <logger name="akka" level="INFO" additivity="false">
        <appender-ref ref="APPLICATION"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="APPLICATION"/>
    </root>
</configuration>
